* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  text-align: center;  
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}
.nav li:hover {
  background-color: #777;
}

.backToTop {
  bottom: 25px;
  right: 25px;
  position: fixed;
  font-size: 80px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 55px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
  background: rgb(16, 12, 45);
}
.backToTop:hover {
  background: #80cfe9;
}
.home-container {
  background-image: url("https://wallpaperaccess.com/full/533108.jpg");
  width: 100%;
  height: 120%;
  position: absolute;
  top: 10;
  left: 0;
  margin: 0 auto;
  display: center;
  padding: 1rem 3rem;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
}



.home-title{
background-color: rgba(255, 255, 255, 0.507);
backdrop-filter: blur(1px);
white-space: normal;
color: rgb(255, 255, 255);
font-size: 6em;
font-family: 'DM Serif Display', serif;
justify-content: space-around center;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
padding: 1em;
}

.home-subtitle{
  display: flex;
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.655);
  font-family: 'DM Serif Display', serif;
  justify-content: space-around center;
  padding: 1em;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.book-res-btn{
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.655);
  font-size: 20px;
  padding: 1em;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.book-res-btn:hover{
  cursor: pointer;
  color: white;
  background-color: rgba(193, 189, 206, 0.495);
}

.reserve-div{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 30vh;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.res-selection{
  border: solid 10px rgba(128, 128, 128, 0.326);
  width: 50%;
  font-size: 1em;
  height: 2.6em;
}

.res-selection-btn{
  border: none;
  width: 50%;
  font-size: 15px;
  height: 2.25em;
  color: rgb(209, 255, 212);
  background-color: rgb(16, 177, 16);
}

.res-selection-btn:hover {
  background-color: rgb(16, 177, 16);
}

.newsletter{
  width: 100%;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}


.explore-header {
  text-align: center;
  color:rgb(0, 0, 0);
  font-family: 'DM Serif Display', serif;
}

.welcome {
  background-color: rgba(146, 183, 132, 0.433);
  padding: 2.5em;
  font-size: 2em;
  background-image: url("https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683__340.png");
}

.discover {
background-color: rgba(145, 130, 214, 0.358);
font-size: 1.15em;
}

.header-1 {
  font-size: 20px;
  font-family: Optima, sans-serif
}

.parks-container {
  border-bottom: 5px solid #bbb;
  border-radius: 10px;
  padding: 2em;
}

.name {
  background: linear-gradient(to bottom, #80cfe9 0%, rgb(146, 183, 132)100%);
  color: rgb(255, 255, 255);
  padding:.5rem;
  font-size: 2.5rem;
}

.poster {
  float: left;
  /* object-fit: cover; */
  height: 30em;
  width: 23em;
  border: 2rem solid rgba(48, 52, 67, 0.326);
  padding: 2rem;
}

.description {
  font-family: Optima, sans-serif;
  font-size: 1.2em;
}

.scroll-container {
overflow: scroll;
color: white;
text-decoration: none;
flex-direction: row;
display: inline;
flex-wrap: nowrap;
display: flex;
padding: 20px;
}

.scrollableimages {
  display: inline-block;
  object-fit: cover;
  width: 25em;
  height: 15em;
  border: 3px solid rgb(255, 255, 255);
  color: black;
}

/* <<<<START SEARCH BAR CSS>>>> */

button, input {
font: 1em Hind, sans-serif;
line-height: 1.5em;
}
input {
color: #171717;
}
.search-bar {
display: flex;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
width: 3em;
height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
outline: transparent;
}
.search-bar {
margin: auto;
padding: 1.5em;
justify-content: center;
max-width: 30em;
}
.search-bar input {
background: transparent;
border-radius: 1.5em;
box-shadow: 0 0 0 0.4em #171717 inset;
padding: 0.75em;
transform: translate(0.5em,0.5em) scale(0.5);
transform-origin: 100% 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.search-bar input::-webkit-search-decoration {
-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
background: #fff;
border-radius: 0.375em 0 0 0.375em;
box-shadow: 0 0 0 0.1em #d9d9d9 inset;
transform: scale(1);
}
.search-btn {
background: #171717;
border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
padding: 0.75em;
position: relative;
transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
content: "";
display: block;
opacity: 0;
position: absolute;
}
.search-btn:before {
border-radius: 50%;
box-shadow: 0 0 0 0.2em #f1f1f1 inset;
top: 0.75em;
left: 0.75em;
width: 1.2em;
height: 1.2em;
}
.search-btn:after {
background: #f1f1f1;
border-radius: 0 0.25em 0.25em 0;
top: 51%;
left: 51%;
width: 0.75em;
height: 0.25em;
transform: translate(0.2em,0) rotate(45deg);
transform-origin: 0 50%;
}
.search-btn span {
display: inline-block;
overflow: hidden;
width: 1px;
height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
background: hsl(224, 21%, 55%);
border-radius: 0 0.375em 0.375em 0;
transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
background: #1d2844;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
input {
  color: #f1f1f1;
}
.search-bar input {
  box-shadow: 0 0 0 0.4em #f1f1f1 inset;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #3d3d3d;
  box-shadow: 0 0 0 0.1em #3d3d3d inset;
}
.search-btn {
  background: #f1f1f1;
}
}


/* <<<<END SEARCH BAR CSS>>>> */

/*<<< TRIVIA APP >>> */
/*<<< WELCOME & START BUTTON>>> */

.triv-container {
  position: absolute;
  display: center;
  background-size: 100% 100%;
  /* min-height: 100%; */
  background-image: url('https://images.pling.com/img/00/00/62/66/55/1655280/ab6882d63d3388769d31005cc8c1743dea0a4c49558fa6d5c5cddc198893e4bafa96.jpg');
  background-size: fill;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 1.5em;
  padding: 1rem 3rem;
  color:black;
  text-transform: uppercase;
}

.wrap{
  /* padding: 1.5rem; */
  padding-top: 5ch;
}

.start-btn {
  --b: 3px;   /* border thickness */
  --s: .65em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .5s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 25px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.start-btn:hover,
.start-btn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.start-btn:active {
  background: var(--color);
  color: #fff;
}

.quest-container{
  position: absolute;
  background-size: 100% 100%;
  display: center;
  background-size: 100% 100%;
  background-image: url('https://images.pling.com/img/00/00/62/66/55/1655280/ab6882d63d3388769d31005cc8c1743dea0a4c49558fa6d5c5cddc198893e4bafa96.jpg');
  background-size: fill;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color:black;
  text-transform: uppercase;

}
.game-over {
  position: absolute;
  display: center;
  background-image: url("https://iili.io/HRNSOBe.png");
  background-size: fill;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color:black;
  text-transform: uppercase;
}

.entire-quiz{
  backdrop-filter: blur(2px);
  position: absolute;
  top: 10%;
  left: 10%;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-right: 10%;
  margin-left: 10%;
  width: 60%;
  height: auto;
  
  box-shadow: rgb(3, 3, 4) 0px 25px 40px -5px;
  
  ;
  border-width: 2px;
  border-radius: 30px;
  padding-bottom: 15px;
}
.questions{
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}
.answer-span {
  padding: 50px;
  text-align: center;
}
.answer-btn{
  position: center;
  padding: 15px;
  text-align: center;
  font-size: 75%;
  font-style: bold;
  
  color: black;
  width:20%;
  background-color: transparent;
  border-width: 2px;
  cursor: pointer;
  opacity: 2;
  border-radius: .5rem;
  }
  .answer-btn {
    
    border-color: white ;
    padding: 10px;
    cursor: pointer;
    /* font-size: 80%; */
    color: black;
    background-image: linear-gradient(45deg, transparent 50%, black 50%);
    background-position: 20%;
    background-size: 600%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
    table-layout: fixed;
    padding-bottom: 10px;
  }
  
  .answer-btn:hover {
    color: #ffffff;
    background-position: 100%;
  }

  
    

  
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.5em;
  position: relative;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  animation: waviy 2.5s infinite ease-in-out;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
img.dancing-guy {
  position: relative;
  top: 0;
  left: 0;
  width: 7%;
  height: 7%;
}
.game-over__wrapper{
 padding-top: 5ch;
  
}
.triv-container-wrapper{
  padding-top: 6ch;
}
.play-again{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.play-again{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.play-again:before,
.play-again:after{
  position: absolute;
  content: "PLAY AGAIN";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.play-again:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.play-again:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.play-again:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
.back-home{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.back-home{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.back-home:before,
.back-home:after{
  position: absolute;
  content: "RETURN HOME";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.back-home:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.back-home:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.back-home:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
.gamoverbtns{
  padding-top: 2ch;
}
.home-subtitle{
  backdrop-filter: blur(0.5px);
}
/*the blur effect looks almost like the opaque background*/

.res-container {
	height: auto;
  padding-bottom: 5ch;
	display: flex;
	align-items: center;
  justify-content: center;
}
.book-res-btn {
	font-family: Helvetica;
	letter-spacing: 0.4em;
	font-weight: 600;
	font-size: auto;
	text-align: center;
	color: #202125;
  cursor: pointer;
  max-width: 500px; 
  width: 50%; 
  outline: 3px solid;
  outline-color: white;
  outline-offset: 15px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.book-res-btn:hover {
	color: white (71, 126, 232, 0.7);
  outline-color: white (71, 126, 232, 0);
  outline-offset: 30px;
}

















/* <<<<END SEARCH BAR CSS>>>> */


.review-header {
background-color: rgba(146, 183, 132, 0.433);
padding: 0.5em;
font-size: 3.5em;
font-family: Optima, sans-serif;
}

.review-box {
border-bottom: 5px solid #bbb;
border-radius: 10px;
padding: 2em;
}

.review-image {
height: 30em;
width: 45em;
border: 1rem solid rgba(48, 52, 67, 0.326);
border-color: black;
position: relative;
}

.drop-down-header {
  font-size: 3em;
  font-weight: bold;
  font-family: Optima, sans-serif;
  text-align: center;
  padding: 0.5em;
}

.drop-down {
font-size: 2em;
font-weight: bold;
font-family: Optima, sans-serif;
text-align: center;
}

.user-input {
color: black;
font-family: Optima, sans-serif;
font-weight: bold;
font-size: 2em;
padding: 12px 20px;
margin: 8px 0;
width: 50%;
box-sizing: border-box;
}

.park-select {
text-align: center;
font-size: 3.0em;
font-weight: bold;
color: darkslategray;
margin: 0.5em;
font-family: Optima, sans-serif;
text-decoration: underline;
padding: 1em
}

.review-title {
text-align: left;
font-size: 3.5em;
font-weight: bold;
margin: 0.5em;
font-family: Optima, sans-serif
}

.review-content {
float: left;
margin: 1em;
font-size: 2em;
text-align: left; 
width: 40em;
font-family: Optima, sans-serif
}

.review-author {
margin: 1em;
text-align: left;
font-size: 2em;
font-style:italic
}

.form-button {
margin: 0.5em;
text-align: center;
font-size: 2em;
font-weight: bold;
}

.new-review-form {
width: 100%;
color: black;
}
/* <<<<END SEARCH BAR CSS>>>> */

